#!/bin/bash
RED='\033[0;31m'
NC='\033[0m'
[[ "${BASH_SOURCE[0]}" == "${0}" ]] && echo -e "${RED}ERROR: this script should be sourced, not run${NC}" >&2 && exit 1

export PIPEFY_OAUTH_TOKEN=
export PIPEFY_ORGANIZATION_ID=
echo "INFO: Set Pipefy credentials as environment variables"
